body {
    padding: 0;
    margin: 0px;

    box-sizing: border-box;

    background-color: #23252C;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 340px;
    height: 840px;

    background-color: #1A1B21;

    border: none;
    border-radius: 15px;
    padding: 0;
    margin: 20px;
}

.my-img {
    width: 340px;
    height: 250px;

    border-radius: 15px 15px 0 0;
}

#my-info {
    margin-top: 0;
    text-align: center;
    color: white;
}

#my-info>h3 {
    margin-top: 0;
    color: #F3BF99;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#email-btn {
    cursor: pointer;

    width: 100px;
    max-width: 100px;
    padding: 10px;
    margin-right: 10px;

    border-radius: 10px;
}

#linkedin-btn {
    cursor: pointer;

    background-color: #5093E2;
    color: white;
    width: 100px;
    max-width: 120px;
    padding: 10px;
    margin-left: 10px;

    border-radius: 10px;
}

.info {
    margin: 0;
    padding: 0px 20px 0px 20px;
    text-align: center;
    color: white;

}

.interests {
    margin: 0;

    padding: 0px 20px 0px 20px;
    text-align: center;
    color: white;

}

.footer {

    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#icon {
    width: 35px;
    height: 25px;

    background: gray;
    color: white;
    border-radius: 10px;

    padding-top: 7px;
    margin-right: 10px;
    text-align: center;
}